@model S1L04.Models.PersonModel

@{
    ViewBag.Title = "CreatePerson";
}

<h2>Create Person</h2>

@using (Html.BeginForm())
{
    <div class="form-group">
        @Html.LabelFor(model => model.StuNumber)
        @Html.TextBoxFor(model => model.StuNumber, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.FirstName)
        @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.LastName)
        @Html.TextBoxFor(model => model.LastName, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Email)
        @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
}

@Html.ActionLink("Back to List", "ListPeople", "People")